/*master branch*/

body {
    background: green;
    color: yellow;
    width: 450px;
    margin: 10px 100px;
}

h1 {
    font-size: 56px;
    color: lightblue;
    background: blue;
    opacity: 0.5;
}

h2{
  background: lime;
}
