/*MASTER*/

body {
    background: red;
    color: black;
    width: 350px;
    height:25040px;
    margin: 10px 100px;
    padding: 15px;
    border: 5px dashed #000;
    line-height: inherit;
}

h1{
  font-size: 26px;
  color:lightblue;
  padding:10px;
}

p{
  color red;
  background: yellow;
  padding: 25px;
  margin: 10px; 

}
